.popular .slick-slide{
    width: 400px;
}
.slick-dots li button:before {
display: none;
}

.popular .slick-list{
    height:  400px;
}
.slick-next{
    display: none;
}
.slick-slider .slick-prev:before, .slick-next:before{
    display: none;
    font-size: 0;
  }
  .slick-next {
    right: 0;
}
@media (max-width: 800px){
    
}


