.popular .slick-slide{
    width: 400px;
}

.popular .slick-list{
    height:  400px;
}
.slick-next{
    display: none;
}
@media (max-width: 600px){
    .popular .slick-list{
        height: 300px;
    }
}
@media (max-width: 800px){
    .slick-slider .slick-prev:before, .slick-next:before{
        font-size: 30px;
        display: none;
    }
}


